:root {
  --font-family: "Montserrat", sans-serif;
  --font-family-logo: "Pacifico", cursive;

  --font-input: 300;

  --font-size-logo: 28px;
  --font-size-card-title: 28px;
  --font-size-input-label: 20px;
  --font-size-button: 22px;
  --font-size-form-fieldset: 22px;
  --font-size-table-header: 22px;
  --font-size-modal-title: 28px;
  --font-size-modal-button: 28px;
  --primary-color: #6c5ce7;           
  --secundary-color: #dfe6fd;         
  --contrast-dark-color: #2d3436;     
  --contrast-ligth-color: #f0f3fa;    
  --info-color: #ff7675;              
  --sucess-color: #00b894;            
  --transparency-color: rgba(108, 92, 231, 0.15); 

  --background-gradient: linear-gradient(135deg, #f5f7ff, #e0eaff, #d0dfff);
 
  --shadow: 0 6px 20px rgba(108, 92, 231, 0.25);
}

@media (min-width: 800px) {
  :root {
    --font-size-logo: 56px;
  }
}
